*.csv
*.gz
*.zip
__pycache__
base_dirs.json
.ipynb_checkpoints
myproject.egg-info
# */htorch
.vscode
*.sh
wandb
*.pth
*.pt
*.npy
data/imagenet/64x64/val/val_data
*.JPEG
*.txt
*.xml
*.m
*.png
data/cifar100/cifar-100-python/file.txt~
data/cifar100/cifar-100-python/meta
data/cifar100/cifar-100-python/test
data/cifar100/cifar-100-python/train
